body{
    text-align: center;
    place-items: center;
    background-color: #001f3f;
    color: #d3d3d3;     
}
.cuadroInfo{
    display: grid;
    grid-template-columns: repeat(4, 150px);
    text-align: center;
    place-items: center;
    margin: 2%;
}
.espacioDecoracion{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    text-align: center;
    place-items: center;
    margin: 2%;
}
.labelDecoracion{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    text-align: center;
    place-items: center;
    margin: 2%;
}